
<div class="card-columns aspectoVisual">


    <div class="card animated fadeIn fast"  >
        
             <img class="card-img-top img-fluid" src="assets/news/SourceNew1.jpg" alt="Superman">
     
             <h4> El director de Shazam nos recomienda cómics para prepararnos para la película</h4>
       
           <p>
              Dentro de su incapacidad para contar nada concreto de la película, el director David F. Sandberg sigue haciendo uso de las redes sociales para ofrecer novedades, o como poco dar tema de conversación sobre “Shazam!”.
              
                
           </p>
           <p *ngIf="mostrar[1]"> 
              Lo último que ofrece el cineasta es la respuesta a un fan que le pregunta qué cómic de Shazam le recomienda para prepararse para la película. Sandberg tira de lo que parece biblioteca personal y le hace una serie de sugerencias de cómics que cubren los orígenes del personaje. Destaca además la particular sugerencia del cómic Flashpoint, para cuando ya tenga más conocimientos sobre Shazam.
                            
           </p>
           <div class="card-block">
             <h4 class="card-title"></h4>
        
            <button (click)="mostrar[1] =!mostrar[1]"
            type="button" class="btn btn-outline-primary btn-block">
             <small *ngIf="mostrar[1]==false">Ver más</small>
             <small *ngIf="mostrar[1]==true">Ocultar</small>
            </button> 
       
           <!-- <a [routerLink]=" ['/Heroe',idx]" class="btn btn-outline-primary">ver más</a> -->
           </div>
         </div>
  
  <!-- New 1-->

    <!--End new 1 -->

    <div class="card animated fadeIn fast"  >
        
             <img class="card-img-top img-fluid" src="assets/news/SourceNew3.jpg" alt="Superman">
     
             <h4> Hailee Steinfeld estaría dispuesta a interpretar a Batgirl
              </h4>
       
           <p>
              Entre los proyectos que estarían en desarrollo por parte de DC y Warner Bros se encontraría la película individual de “Batgirl”, cinta que cuenta con la dirección de Joss Whedon y que actualmente se encuentra en fases de escritura del guión.
              
              
           </p>
           <p *ngIf="mostrar[3]"> 
              Aunque la cinta todavía se encuentra en fases muy tempranas de desarollo, durante la promoción de la película “Pitch Perfect 3” la actriz Hailee Steinfeld ha revelado que le encantaría interpretar a Barbara Gordon en la película de la superheroína.
                            
           </p>
           <div class="card-block">
             <h4 class="card-title"></h4>
        
            <button (click)="mostrar[3] =!mostrar[3]"
            type="button" class="btn btn-outline-primary btn-block">
             <small *ngIf="mostrar[3]==false">Ver más</small>
             <small *ngIf="mostrar[3]==true">Ocultar</small>
            </button> 
       
           <!-- <a [routerLink]=" ['/Heroe',idx]" class="btn btn-outline-primary">ver más</a> -->
           </div>
         </div>
     
        

           <div class="card animated fadeIn fast"  >
            
                 <img class="card-img-top img-fluid" src="assets/news/Superman.jpg" alt="Superman">
         
                 <h4> Matthew Vaughn pidió ayuda a Mark Millar para trabajar en la secuela de El Hombre de Acero</h4>
           
               <p>
         
                 Ayer el director Matthew Vaughn confirmó que ha tenido conversaciones con DC para hacerse cargo de algunas de sus películas, y entre las opciones disponibles al parecer se encuentra la tan esperada secuela de “El Hombre de Acero”.
                 
               </p>
               <p *ngIf="mostrar[0]"> 
                 Pese a que sabemos que está en marcha, desde el estudio priorizan otros proyectos antes que el regreso de Superman a la gran pantalla, esta vez en solitario, pero Vaughn ha estado trabajando en ella, y para ello ha pedido la ayuda del guionista Mark Millar.
                 
                 Así lo ha confirmado el mismo Millar, con quien Vaughn ha colaborado en las películas de “Kingsman”, en una entrevista recogida por Joblo, la pega es que él ya está comprometido con Netflix en exclusividad:
         
               </p>
               <div class="card-block">
                 <h4 class="card-title"></h4>
            
                <button (click)="mostrar[0] =!mostrar[0]"
                type="button" class="btn btn-outline-primary btn-block">
                 <small *ngIf="mostrar[0]==false">Ver más</small>
                 <small *ngIf="mostrar[0]==true">Ocultar</small>
                </button> 
           
               <!-- <a [routerLink]=" ['/Heroe',idx]" class="btn btn-outline-primary">ver más</a> -->
               </div>
             </div>
    

         <div class="card animated fadeIn fast"  >
          
               <img class="card-img-top img-fluid" src="assets/news/SourceNew2.jpg" alt="Superman">
       
               <h4> Matthew Vaughn ha hablado con Warner Bros sobre varios proyectos</h4>
         
             <p>
                Hace cuestión de pocos meses, el director Matthew Vaughn confirmaba públicamente que había mantenido conversaciones con Warner Bros. para hacerse cargo de la secuela de “El Hombre de Acero”, aún en proyecto pero sin fecha fijada.
                              
             </p>
             <p *ngIf="mostrar[2]"> 
                El cineasta vuelve a la carga para esta vez reconocer su amor por DC y que le atraen la franquicias que han fracaso en el pasado, pues según él, son más fáciles de hacer algo bueno.
                
                      
             </p>
             <div class="card-block">
               <h4 class="card-title"></h4>
          
              <button (click)="mostrar[2] =!mostrar[2]"
              type="button" class="btn btn-outline-primary btn-block">
               <small *ngIf="mostrar[2]==false">Ver más</small>
               <small *ngIf="mostrar[2]==true">Ocultar</small>
              </button> 
         
             <!-- <a [routerLink]=" ['/Heroe',idx]" class="btn btn-outline-primary">ver más</a> -->
             </div>
           </div>
        

  <div class="card animated fadeIn fast"  >
    
         <img class="card-img-top img-fluid" src="assets/news/SourceNew4.jpg" alt="Superman">
 
         <h4> Fabian Wagner aclara su comentario sobre el traje negro de Superman en Liga de la Justicia
          </h4>
   
       <p>
          El cinematógrafo Fabian Wagner comentó hace unos días que se rodaron escenas de Superman con el traje negro para “Liga de la Justicia”, pero por causas de la edición esas escenas fueron cortadas de la versión final.
          
          
       </p>
       <p *ngIf="mostrar[4]"> 
          Ahora, en una nueva entrevista, Wagner ha tenido la oportunidad de aclarar sus palabras sobre esta decisión, comentando que tal vez esas escenas solo fueron una prueba de cámaras.
          
                               
       </p>
       <div class="card-block">
         <h4 class="card-title"></h4>
    
        <button (click)="mostrar[4] =!mostrar[4]"
        type="button" class="btn btn-outline-primary btn-block">
         <small *ngIf="mostrar[4]==false">Ver más</small>
         <small *ngIf="mostrar[4]==true">Ocultar</small>
        </button> 
   
       <!-- <a [routerLink]=" ['/Heroe',idx]" class="btn btn-outline-primary">ver más</a> -->
       </div>
     </div>


       
      
     
</div>
  
  
<small class="aspectoVisual">Fuente : https://blogdesuperheroes.es/category/cine-comics/cine-dc</small>


    