/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";


.footer{
  position: absolute;
  width: 100%;
  bottom: 0%;


}
