
<div class="animated fadeIn">


    <!-- Masthead -->
    <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-xl-9 mx-auto">
              <h1 class="mb-5">Suscribete para noticias de tus superheroes!</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <form>
                <div class="form-row">
                  <div class="col-12 col-md-9 mb-2 mb-md-0">
                    <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
                  </div>
                  <div class="col-12 col-md-3">
                    <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-screen-desktop m-auto text-primary"></i>
              </div>
              <h3>Gotham</h3>
              <p class="lead mb-0">
                  Gotham es una serie de televisión estadounidense creada por Bruno Heller y basada en los primeros pasos de varios personajes de las publicaciones DC Comics, especialmente James Gordon y Bruce Wayne, creados por Bob Kane y Bill Finger e interpretados por Ben McKenzie y David Mazouz.
                  
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-layers m-auto text-primary"></i>
              </div>
              <h3>Flash</h3>
              <p class="lead mb-0">
                  The Flash es una serie de televisión estadounidense desarrollada por Greg Berlanti, Andrew Kreisberg y Geoff Johns para la cadena The CW. El episodio piloto fue dirigido por David Nutter. La historia se basa en el superhéroe de DC Comics, Flash, específicamente en Barry Allen, el segundo individuo en tomar dicha identidad. 
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-check m-auto text-primary"></i>
              </div>
              <h3>Arrow</h3>
              <p class="lead mb-0">
                
Arrow es una serie de televisión de un vigilante estadounidense desarrollada por los escritores/productores Greg Berlanti, Marc Guggenheim y Andrew Kreisberg. Está basado en el personaje de DC Comics Green Arrow, un luchador contra el crimen disfrazado creado por Mort Weisinger y George Papp.

              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">

          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/assets/img/DC.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>DC</h2>
            <p class="lead mb-0">
                DC Comics es una editorial de cómics estadounidense. Forma parte de DC Entertainment,1​ una de las empresas que conforman Warner Bros. Entertainment, la cual a su vez es propiedad de Time Warner. Fue fundada en 1934 bajo el nombre National Allied Publications, para luego tomar el nombre de DC Comics en 1937. Las iniciales «DC» son una abreviatura de Detective Comics, uno de los primeros títulos emblemáticos de la compañía.
              </p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url('/assets/img/Marvel.jpeg');"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Marvel</h2>
            <p class="lead mb-0">
              
              Marvel Worldwide, Inc. es una editorial de cómics estadounidense creada en 1939, inicialmente con el nombre de Timely Comics. Entre sus personajes emblemáticos del género superheroico se encuentran Spider-Man, Capitán América, Iron Man, Hulk, Thor, Deadpool, Avengers, Wolverine, Daredevil, los X-Men, Luke Cage, Inhumanos, entre otros.


            </p>
          </div>
        </div>
      
      </div>
    </section>


  </div> 